---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  keywords?: string;
  noIndex?: boolean;
  type?: string;
}

const { title, description, ogImage, keywords, noIndex, type } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      keywords={keywords}
      noIndex={noIndex}
      type={type}
    >
      <slot name="head" slot="head" />
    </BaseHead>
  </head>
  <body class="h-screen antialiased">
    <Navbar client:only="react" />
    <main><slot /></main>
    <Footer />
  </body>
</html>
